# =====================
# Python cache
# =====================
__pycache__/
*.pyc
*.pyo
*.pyd

# =====================
# Virtual environments
# =====================
.venv/
.venv310/
venv/

# =====================
# IDE
# =====================
.vscode/

# =====================
# Logs
# =====================
*.log

# =====================
# ML artifacts (DO NOT COMMIT)
# =====================
models/
*.h5
*.pkl
*.joblib
*.csv

# =====================
# OS
# =====================
.DS_Store
