services:
  postgres:
    image: postgres:15
    environment:
      POSTGRES_USER: mentalsense
      POSTGRES_PASSWORD: mentalsensepass
      POSTGRES_DB: mentalsense_db
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
